[package]
name = "aleph-node"
version = "0.3.0"
authors = ["Cardinal Cryptography"]
description = "Aleph node binary"
edition = "2018"
license = "Apache 2.0"
build = "build.rs"
homepage = "https://alephzero.org"
repository = "https://github.com/aleph-zero-foundation/aleph-node"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[[bin]]
name = "aleph-node"

[target.'cfg(target_arch="x86_64")'.dependencies]
structopt = "0.3.8"
log = "0.4"
futures = "0.3"
hex-literal = "0.3.1"

codec = { package = "parity-scale-codec", version = "2", default-features = false, features = ["derive"] }
sp-application-crypto = "3.0.0"
sc-block-builder = "0.9.0"
sp-core = "3.0.0"
sc-executor = "0.9.0"
sc-service = "0.9.0"
sc-telemetry = "3.0.0"
sc-keystore = "3.0.0"
sp-keystore = "0.9.0"
sp-inherents = "3.0.0"
sc-basic-authorship = "0.9.0"
sc-transaction-pool = "3.0.0"
sp-transaction-pool = "3.0.0"
sc-consensus-aura = "0.9.0"
sp-consensus-aura = "0.9.0"
sp-consensus = "0.9.0"
sc-consensus = "0.9.0"
sc-client-api = "3.0.0"
sp-runtime = "3.0.0"
sp-timestamp = "3.0.0"

aleph-runtime = { path = "../runtime"}
finality-aleph = { path = "../../finality-aleph"}
aleph-primitives = { package = "primitives", path = "../../primitives"}

# These dependencies are used for the node template's RPCs
jsonrpc-core = "15.1.0"
sc-rpc = "3.0.0"
sp-api = "3.0.0"
sc-rpc-api = "0.9.0"
sp-blockchain = "3.0.0"
sp-block-builder = "3.0.0"
substrate-frame-rpc-system = "3.0.0"
pallet-transaction-payment-rpc = "3.0.0"
pallet-staking = "3.0.0"


[build-dependencies]
substrate-build-script-utils = "3.0.0"

[features]
default = []
