[package]
name = "aleph-runtime"
version = "0.9.1"
authors = ["Cardinal Cryptography"]
edition = "2021"
homepage = "https://alephzero.org"
repository = "https://github.com/aleph-zero-foundation/aleph-node"
license = "GPL-3.0-or-later"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0", default-features = false, features = ["derive"] }
scale-info = { version = "2.0", default-features = false, features = ["derive"] }
serde = { version = "1.0", optional = true, features = ["derive"] }

frame-executive = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
frame-support = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
frame-system = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
frame-system-rpc-runtime-api = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
frame-try-runtime = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning", optional = true }

pallet-aura = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-authorship = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-balances = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-contracts = { git = "https://github.com/Cardinal-Cryptography/substrate", default-features = false, branch = "cardinal-test-pruning" }
pallet-contracts-primitives = { git = "https://github.com/Cardinal-Cryptography/substrate", default-features = false, branch = "cardinal-test-pruning" }
pallet-identity = { git = "https://github.com/Cardinal-Cryptography/substrate", default-features = false, branch = "cardinal-test-pruning" }
pallet-randomness-collective-flip = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-session = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-scheduler = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-staking = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-sudo = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-timestamp = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-transaction-payment = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-transaction-payment-rpc-runtime-api = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-treasury = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-vesting = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-multisig = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-utility = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-nomination-pools = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
pallet-nomination-pools-runtime-api = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }

sp-api = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-block-builder = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-consensus-aura = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-core = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-inherents = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-offchain = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-runtime = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-session = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-staking = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-std = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-transaction-pool = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
sp-version = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }
# NOTE: these two disabled features collide with std in wasm
sp-io = { default-features = false, git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }

primitives = { path = "../../primitives", default-features = false }
pallet-aleph = { path = "../../pallets/aleph", default-features = false }
pallet-elections = { path = "../../pallets/elections", default-features = false }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/Cardinal-Cryptography/substrate.git", branch = "cardinal-test-pruning" }

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-executive/std",
    "frame-support/std",
    "frame-try-runtime/std",
    "pallet-aleph/std",
    "pallet-aura/std",
    "pallet-authorship/std",
    "pallet-balances/std",
    "pallet-elections/std",
    "pallet-identity/std",
    "pallet-randomness-collective-flip/std",
    "pallet-session/std",
    "pallet-staking/std",
    "pallet-sudo/std",
    "pallet-timestamp/std",
    "pallet-transaction-payment/std",
    "pallet-transaction-payment-rpc-runtime-api/std",
    "pallet-treasury/std",
    "pallet-vesting/std",
    "pallet-multisig/std",
    "pallet-utility/std",
    "serde",
    "sp-api/std",
    "sp-block-builder/std",
    "sp-consensus-aura/std",
    "sp-core/std",
    "sp-inherents/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-session/std",
    "sp-staking/std",
    "sp-std/std",
    "sp-transaction-pool/std",
    "sp-version/std",
    "frame-system/std",
    "sp-offchain/std",
    "frame-system-rpc-runtime-api/std",
    "primitives/std",
    "pallet-contracts-primitives/std",
    "pallet-contracts/std",
    "pallet-nomination-pools/std",
    "pallet-nomination-pools-runtime-api/std",
]
short_session = ["primitives/short_session"]
try-runtime = [
    "frame-executive/try-runtime",
    "frame-support/try-runtime",
    "frame-try-runtime",
    "frame-system/try-runtime",
    "pallet-contracts/try-runtime",
    "pallet-nomination-pools/try-runtime",
    "pallet-aleph/try-runtime",
    "pallet-aura/try-runtime",
    "pallet-authorship/try-runtime",
    "pallet-balances/try-runtime",
    "pallet-elections/try-runtime",
    "pallet-identity/try-runtime",
    "pallet-randomness-collective-flip/try-runtime",
    "pallet-session/try-runtime",
    "pallet-staking/try-runtime",
    "pallet-sudo/try-runtime",
    "pallet-timestamp/try-runtime",
    "pallet-scheduler/try-runtime",
    "pallet-transaction-payment/try-runtime",
    "pallet-treasury/try-runtime",
    "pallet-vesting/try-runtime",
    "pallet-multisig/try-runtime",
    "pallet-utility/try-runtime",
]
enable_treasury_proposals = []
