[package]
name = "pallet-tendermint-light-client"
version = "0.1.0"
authors = ["Cardinal Cryptography"]
edition = "2021"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
base64 = { version = "0.13.0", default-features = false}
codec = { version = "2.0.0", package = "parity-scale-codec",default-features = false, features = ["derive"] }
frame-support = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
primitives = { path = "../../primitives", default-features = false}
scale-info = { version = "1.0", default-features = false, features = ["derive"] }
serde = {version = '1', default-features = false, features = ['derive', 'alloc'] }
serde_json = {version = '1', default-features = false, features = ['alloc'] }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false, features = ["disable_oom", "disable_panic_handler"] }
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false }
tendermint = { version = "0.23.5", default-features = false, features = ["secp256k1"] }
tendermint-light-client-verifier = { version = "0.23.5", default-features = false }
tendermint-proto = { version = "0.23.5",  default-features = false }
time = { version = "0.3.5", default-features = false, features = [ "parsing"] }
subtle-encoding = {version = "0.5", default-features = false, features = ["bech32-preview"]}
frame-benchmarking = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.13", default-features = false, optional = true }

# [dev-dependencies]

[features]
default = ["std"]
std = [
  "base64/std",
  "codec/std",
  "frame-benchmarking/std",  
  "frame-support/std",
  "frame-system/std",
  "pallet-timestamp/std",
  "primitives/std",
  "scale-info/std",
  "sp-std/std",
]
runtime-benchmarks = ["frame-benchmarking/runtime-benchmarks"]
try-runtime = ["frame-support/try-runtime"]